{% extends 'base.html' %}
{% block content %}
<h2>Orders Placed for {{ item.name }}</h2>
<table class="table">
    <thead class="col">
        <tr>
            <th>Order ID</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Order Date & Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.cost }}</td>
            <td>{{ order.orderdttm }}</td>
            <td>
                {% if not order.is_received and not order.is_cancel %}
                <a class="btn btn-success" href="{% url 'confirm_received' order.id order.quantity %}">Received</a>
                <a class="btn btn-danger" href="{% url 'confirm_canceled' order.id %}">Canceled</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}