{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Sell Item</title>
</head>
<body>
    <h1>Sell Item: {{ item.name }}</h1>
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Quantity:</td>
                <td><input type="number" name="quantity" min="1" required></td>
            </tr>
            <tr>
                <td>Selling Price:</td>
                <td><input type="number" name="selling_price" step="0.01" min="0.01" required></td>
            </tr>
        </table>
        <input class="btn btn-danger m-2" type="submit" value="Sell">
    </form>
    {% for message in messages%}
    <h6 class="m-1">{{message}}</h6>
    {% endfor %}
</body>
</html>
{% endblock %}